

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

* {

    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
}

html {
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: #333
}

h1 {
    font-size: 36pt
}

h2 {
    font-size: 30pt
}

h3 {
    font-size: 24pt
}

h4 {
    font-size: 20pt
}

h5 {
    font-size: 18pt
}

h6 {
    font-size: 16pt
}

.w3-serif {
    font-family: serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

p {
    margin: 0 0 10px
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.table th {
    text-align: left
}

.table th,
.table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table-bordered {
    border: 1px solid #dee2e6
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6
}

.table-striped tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05)
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}


@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
@media (min-width: 1400px) {
    .container{
        width: 1400px
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1600px
    }
}

@font-face {
    font-family: SVNGotham;
    src: url("./fonts/SVN-Gotham\ Black.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Black\ Italic.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Bold.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Bold.ttf") format("ttf"),
    url("./fonts/SVN-Gotham\ Bold\ Italic.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Book.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Book\ Italic.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Italic.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Light.otf") format("otf"),
    url("./fonts/SVN-Gotham\ Light.ttf") format("ttf"),
    url("./fonts/SVN-Gotham\ Light\ Italic.otf")format("otf"); /* IE9 Compat Modes */
}

$blue: #39348b;
html, body {
    font-size: 24px;
    color: #000;
    // font-family: SVNGotham;
    font-family: "Open Sans";
}



.box {
    padding: 40px;
    width: 1000px;
    margin: 0 auto;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    .box-title {
        margin-bottom: 30px;
        .title {
            font-size: 30px;
            color: $blue;
            font-weight: 600;
        }
        .desc {
            font-size: 32px;
            color: $blue;
            font-weight: 400;
            margin-bottom: 0;
        }
        @media (max-width: 600px) {
            margin-bottom: 20px;
            .title {
                font-size: 24px;
            }
            .desc {
                font-size: 24px;
            }
        }
    }
    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item {

        }       
    }
    .child1 {
        .box-title {
            margin-bottom: 0;
        }
        .child1box {
            position: relative;
            img {
                width: 100%;
            }
            .content {
                position: absolute;
                top: 50%;
                left: 40px;
                transform: translateY(-50%);
                .title {
                    font-size: 32px;
                    color: $blue;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }
                .desc {
                    font-size: 20px;
                    color: $blue;
                    font-weight: 400;
                    margin-bottom: 12px;
                }
                .btnc {
                    font-size: 18px;
                    padding: 6px 16px;
                    color: #ffffff;
                    font-weight: 600;
                    display: inline-block;
                    border-radius: 22px;
                    background-image: linear-gradient(90deg, #37a5e7 0%, #7d237f 100%);
                }
            }
            @media (max-width: 768px) {
                .content {
                    left: 16px;
                    .title {
                        font-size: 24px;
                    }
                    .desc {
                        font-size: 16px;
                    }
                    .btnc {
                        font-size: 14px;
                    }
                }
            }
            @media (max-width: 600px) {
                .content {
                    left: 16px;
                    .title {
                        font-size: 20px;
                    }
                    .desc {
                        font-size: 14px;
                    }
                    .btnc {
                        font-size: 14px;
                    }
                }
            }
            @media (max-width: 480px) {
                .content {
                    left: 12px;
                    .title {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                    .desc {
                        font-size: 12px;
                        margin-bottom: 0px;
                    }
                    .btnc {
                        font-size: 11px;
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
    .child2 {
        background: url("./../imgs/bg-2.png") no-repeat;
        background-position: top;
        background-size: cover;
        padding: 60px 0 120px;
        .box-title {
            margin-bottom: 80px;
        }
        .list {
            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-left: 1px solid $blue;
                width: 25%;
                padding: 12px 0;
                &:first-child {
                    border-left: none;
                }
                span {
                    &:first-child {
                        font-size: 50px;
                        color: $blue;
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                    &:last-child {
                        font-size: 15px;
                        color: $blue;
                        font-weight: 400;
                        font-family: "Open Sans";
                        text-align: center;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            padding: 32px 0 60px;
            .box-title {
                margin-bottom: 60px;
            }
            .list {
                .item {
                    span {
                        &:first-child {
                            font-size: 32px;
                        }
                        &:last-child {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        @media (max-width: 480px) {
            padding: 20px 0 40px;
            .box-title {
                margin-bottom: 30px;
            }
            .list {
                .item {
                    span {
                        &:first-child {
                            font-size: 28px;
                        }
                        &:last-child {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .child3 {
        .box-title {
            text-align: center;
            margin-bottom: 0;
        }
        .img {
            text-align: center;
            img {
                
            }
        }
        @media (max-width: 768px) {
            .img {
                img {
                    width: 80%;
                }
            }
        }
    }

    .child4 {
        padding-top: 40px;
        .box-title {
            text-align: center;
        }
        .img {
            text-align: center;
            img {
                
            }
        }
        .box-table {
            width: 600px;
            margin: 0 auto;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            table {
                width: 100%;
                border-spacing: unset;
                tr {
                    th {
                        font-size: 15px;
                        line-height: 20px;
                        color: #ffffff;
                        font-weight: 400;
                        width: 33.33%;
                        background: $blue;
                        padding: 16px;
                        &:first-child {
                            border-top-left-radius: 12px;
                        }
                        &:last-child {
                            border-top-right-radius: 12px;
                        }
                    }
                    td {
                        padding: 12px;
                        text-align: center;
                        .round {
                            font-size: 18px;
                            line-height: 20px;
                            color: #ffffff;
                            font-weight: 400;
                            width: 39px;
                            height: 39px;
                            line-height: 39px;
                            border-radius: 20px;
                            background: $blue;
                            display: inline-block;
                            &.color1 {
                                background: #dea002;
                            }
                            &.color2 {
                                background: #94a6b5;
                            }
                            &.color3 {
                                background: #b68302;
                            }
                        }
                        p {
                            font-size: 18px;
                            color: $blue;
                            font-weight: 600;
                            margin-bottom: 0;
                        }
                        .num {
                            font-size: 18px;
                            color: #2eba41;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) {
            padding-top: 20px;
        }
        @media (max-width: 600px) {
            .box-table {
                width: 100%;
                table {
                    width: 100%;
                    border-spacing: unset;
                    tr {
                        th {
                            font-size: 13px;
                            line-height: 20px;
                            color: #ffffff;
                            font-weight: 400;
                            width: 33.33%;
                            background: $blue;
                            padding: 16px;
                            &:first-child {
                                border-top-left-radius: 12px;
                            }
                            &:last-child {
                                border-top-right-radius: 12px;
                            }
                        }
                        td {
                            padding: 12px;
                            text-align: center;
                            .round {
                                font-size: 15px;
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                            }
                            p {
                                font-size: 15px;
                            }
                            .num {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 480px) {
            .box-table {
                width: 100%;
                table {
                    width: 100%;
                    border-spacing: unset;
                    tr {
                        th {
                            font-size: 12px;
                            padding: 12px 4px;
                        }
                        td {
                            padding: 8px;
                            text-align: center;
                            .round {
                                font-size: 13px;
                            }
                            p {
                                font-size: 14px;
                            }
                            .num {
                                font-size: 14px;
                                img {
                                    width: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        width: 100%;
    }
    @media (max-width: 600px) {
        padding: 16px;
    }
}
